@import "nib"

a
  text-decoration none
a:hover
  text-decoration underline

h1
  a:hover
    text-decoration none

ul.main
  li
    font-size 1.2em
    float left
    margin-right 0.5em

ul.authenticate
  li
    float left
    margin-right 0.5em