!!! 5
html
  head
    title= title
    link(rel="stylesheet", href="/css/default.css")

    script(src="/script/lib/handlebars-1.0.0.beta.6.js", type="text/javascript")
    script(data-main="/script/main.js", src="/script/lib/require-1.0.7.js", type="text/javascript")

  body
    header
      h1 Big Train

      nav

    div.container
      aside

      section#main

        != body

    footer
      &copy; Perceptal Engineering 2012
