!!! 5
html
  head
    title= title
    link(rel="stylesheet", href="/css/main.css")

    script(data-main="/script/main.js", src="/script/vendor/require-1.0.7.js", type="text/javascript")

  body
    #container
      #main
        header
            h2
                a(href="/") Starter

            nav#main

        != body

        footer
            span#colophone &copy; Perceptal Engineering 2012

            nav

      aside#sidebar
        nav

