<div class="image" title="{{caption}}">
	<img src="{{url}}" data-image="{{url}}">
		<a class="default" title="set as profile photo" data-tooltip-position="top">&nbsp;</a>
		<a class="delete" title="delete photo" data-tooltip-position="top">&nbsp;</a>
	</img>
</div>
